<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151493773687-u71ohtfv27tkjelegaal0odammt2abd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151493773687-u71ohtfv27tkjelegaal0odammt2abd1</string>
	<key>API_KEY</key>
	<string>AIzaSyCF_s9YNwX3iPy5yAwHreT9dQEku5I9t9k</string>
	<key>GCM_SENDER_ID</key>
	<string>151493773687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryf.tiwopi</string>
	<key>PROJECT_ID</key>
	<string>tiwopi</string>
	<key>STORAGE_BUCKET</key>
	<string>tiwopi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:151493773687:ios:906e268d23d359095b7972</string>
</dict>
</plist>
